@font-face {
  font-family: "Futura Book";
  src: url("/fonts/futura-book-webfont.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

body,
html,
* {
  font-family: "Futura Book", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif !important;
  font-weight: 600 !important;
}
